
.dashboard-panels {
	clear: both;
}
.dashboard-panel {
	height: 28em;
	position: relative;
	background: #ebebeb;
	margin-top: .1em;
	margin-bottom: 1em;
	overflow: auto;
	padding-bottom: 1.1em;
	padding-left: 0;
	padding-right: 0;
	border-radius: .33em;
}
.panel-button-bar {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	display: none;
}

.dashboard-panel:hover .panel-button-bar {
	display: block;
	}

.dashboard-panel h4 {
	margin: 0 0 4px 0;
	font-size: 120%;
}
.dashboard-panel h4 i {
	vertical-align: baseline;
}
.dashboard-panel h4 a {
	background: #ddd;
	display: block;
	text-decoration: none;
	padding: .5em 1em;
	color: #444;
}
.dashboard-panel h4 a:hover {
	background: #ddd;
	background: #2095f0;
	color: #fff;
}
.dashboard-panel ul {
	list-style: none;
	margin: 0;
}
.dashboard-panel li {
}
.dashboard-panel li a {
	border-bottom: 1px solid #f0f0f0;
	border-top: 1px solid #eee;
	display: block;
	padding: .4em 1.1em;
	text-align: left;
}
.dashboard-panel li:first-child a {
	border-top: none;
}



.dashboard-panel li a span {
	font-size: 80%;
}
.dashboard-panel li a:hover {
	background: #2095f0;
	color: #fff;
}
.dashboard-news-panel {
	max-height: 28em;
	overflow: auto;
}
.dashboard-news-panel li {
	padding: .4em 1.1em;
}
