.navbar-main {
	min-height: 2em;
	/*box-shadow: 0 0 12px 3px rgba(0,0,0,0.3);*/

}
/* nav */
.navbar .nav > li > a {
	font-weight: bold;
	color: #111;
	text-shadow: none;
	padding: 10px 30px;
	min-width: 120px;
	text-align: center;
	border-right: 1px solid #ddd;
}

.navbar .nav > li > a:hover {
	color: rgb(0,89,178);
	background-color: #ffffff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 255, 255)), to(rgb(235, 235, 235)));
	background-image: -webkit-linear-gradient(top, rgb(255, 255, 255), rgb(235, 235, 235));
	background-image: -moz-linear-gradient(top, rgb(255, 255, 255), rgb(235, 235, 235));
	background-image: -o-linear-gradient(top, rgb(255, 255, 255), rgb(235, 235, 235));
	background-image: -ms-linear-gradient(top, rgb(255, 255, 255), rgb(235, 235, 235));
	background-image: linear-gradient(top, rgb(255, 255, 255), rgb(235, 235, 235));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#ffffff', EndColorStr='#ebebeb');
}

.navbar .form-search {
	margin-top: 5px;
}

/* dropdown */
.dropdown-menu {
	min-width: 180px;
	padding: 10px;
	border-radius: 0 0 3px 3px;
	background: #eee;
	border-top: none;
	box-shadow: 0px 5px 16px 0 rgba(0, 0, 0, 0.2);
}
.dropdown-menu li a {

}
.navbar .nav > li a.nav-icon {
	/*padding: 7px 5px 0 5px;*/
	padding: 7px 10px 4px 10px;
}
.navbar .nav > li:last-child {
	border-right: none;
}

.dropdown-tools {
	background: rgba(0,0,0,.7);
	box-shadow: none;
	border-radius: 0 0 8px 0;
}
.dropdown-tools li a {
	color: #fff;
}

ul.nav li.dropdown:hover,
a.dropdown-toggle:hover {
	background: #fff;
}
ul.nav li.dropdown:hover > ul.dropdown-menu{
    display: block;
}
a.menu:after, .dropdown-toggle:after {
    content: none !important;
    border: 0 !important;
}
.navbar .dropdown-menu {
 margin-top: 0px;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
	background-color: #2095f0
}
/* hides the little arrow for dropdown (not the caret) */
.dropdown-menu::before, .dropdown-menu::after {
    border: none !important;
    content: none !important;
}
