@import 'dashboard.css';
@import 'fonts.css';
@import 'nav.css';
@import 'resets.css';

body {
	padding-top: 60px;
	background: #555;
	font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
	line-height: 1.5;
}

.content-wrap {
	background: #fefefe;
	border-radius: 7px;
	padding: 20px 20px 80px;
	margin-bottom: 40px;
	min-height: 400px;
	border-radius: 7px;
	position: relative;
}

a:hover {
	text-decoration: none;
}

.footer-details {
	font-size: 90%;
	text-align: center;
	padding: 5px 0 10px 0;
	padding: 1em 0 0;
	width: 100%;
	display: block;
	position: absolute;
	bottom: -5em;
}

.footer-details:hover {
}


/* tabs */
.nav-tabs > li > a {
	font-weight: bold;
}

/* buttons */
.btn {
	font-weight: bold;
}

/* headers */
h1 {
	color: #777;
	font-weight: normal;
	font-family: 'oxygenbold';
	font-size: 200%;
}

h4 {
	color: #666;
	font-weight: normal;
	font-family: 'oxygenbold';
}

/* alerts */

.alert {
	font-weight: bold;
	padding-top: .9em;
	padding-bottom: .9em;
	padding-left: 1em;
	text-shadow: none;
}
.alert i {
	margin-right: .76em;
}

.alert-error{
	background: rgb(255, 67, 29);
}

.alert-info{
	background: #2095f0;
}

.alert-success{
	background: rgb(75, 149, 51);
	background: #72b114;
}
.alert-info, .alert-success, .alert-error {
	border: none;
	color: #fff;
}
.alert-info i, .alert-success i, .alert-error i {
	font-size: 150%;
	font-weight: normal;
}


/* tabs */

.tab-pane {
	min-height: 500px;
	border: 1px solid #ddd;
	border-width: 0 1px 1px;
	padding: 1em;
	border-radius: 0 0 .2em .2em;
}
.nav-tabs {
	margin-bottom: 0;
}
.nav-tabs li a {
	outline: none;
	text-transform: capitalize
	}

.tab-pane {
	min-height: 440px;
}
.nav-tabs > li {
	min-width: 130px;
	text-align: center;
}

.tab-pane, table {
	background: #fff;
}

.tab-pane h4 {
	padding-top: 5em;
}
.tab-pane h4:first-child {
	padding-top: 0px;
}

.form-actions {
	clear: both;
	margin-top: 3em;
	border-top: 1px solid #ddd;
	padding: 1em;
	background: #eee;
}

.form-row-group {
	margin-top: 1.6em;
	/*margin-bottom: 1.6em;*/
	border-top: 1px solid #ddd;
	padding-bottom: 1.67em;
	padding-top: .5em;
}
.form-row {
	overflow: auto;
	padding-bottom: .7em;
	padding-top: .7em;
}

.help-block {
	margin: 2px 4px;
	color: #999;
	font-size: 90%;
	text-align: right;
}

/*body, .table td {*/
.table td {
	line-height: 1.3;
}

table h5 {
	margin: 0;
}

table p {
	line-height: 1.2;
}

/*.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {*/
.table-hover tbody tr:hover td {
	background: #DDF0FD;
}
.table-hover tbody tr:hover td a {
}

/* editor */
textarea#redactor {
	background: #333;
	color: #fff;
	font-family: Monaco, monospace;
	line-height: 1.7em;
	padding: .5em;
	border-radius: 0;
	outline: none;
}

ul.nav-tabs#editor_tabs li a {
	color: #333;
}
.tab-pane {
	background: #fafafa;
}

ul.nav-tabs#editor_tabs li.active a {
	color: #428BCA;
	border-bottom: 1px solid #428BCA;
	border-bottom: 1px solid #fafafa;
	background-color: #fafafa;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 255, 255)), to(rgb(250, 250, 250)));
	background-image: -webkit-linear-gradient(top, rgb(255, 255, 255), rgb(250, 250, 250));
	background-image: -moz-linear-gradient(top, rgb(255, 255, 255), rgb(250, 250, 250));
	background-image: -o-linear-gradient(top, rgb(255, 255, 255), rgb(250, 250, 250));
	background-image: -ms-linear-gradient(top, rgb(255, 255, 255), rgb(250, 250, 250));
	background-image: linear-gradient(top, rgb(255, 255, 255), rgb(250, 250, 250));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#ffffff', EndColorStr='#fafafa');
}

.btn-toolbar .btn-default.btn-hover-warning:hover {
	background-color: #d9534f;
	border-color: #d43f3a;
	color: #fff;
}
.btn-toolbar .btn-default.btn-hover-success:hover {
	color: #fff;
	background-color: #5cb85c;
	border-color: #4cae4c;
}

/*
body.modal-open .content-main {
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
}
*/
.modal {
	background-color: rgba(0,0,0,0.4);
}


/* interferres with Redactor fullscreen plug in*/
.navbar-fixed-top {
  z-index: 100 !important;
}
